{
  parser: "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/require-extension": "warn",
    "linebreak-style": "warn",
    "no-trailing-spaces": "warn",
    "no-unused-vars": "warn",
    "no-mixed-operators": "warn",
    "no-else-return": "warn",
    "max-len": "warn",
    "react/no-did-mount-set-state": "warn",
    "indent": "warn",
    "key-spacing": "warn",
    "object-shorthand": "warn",
    "no-multi-spaces": "warn",
    "space-infix-ops": "warn",
  },
  "env": {
    "browser": true
  }
}
