{
  parser: "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/require-extension": "off",
    "linebreak-style": "off",
    "no-trailing-spaces": "off",
    "no-unused-vars": "off",
    "no-mixed-operators": "warn",
    "no-else-return": "off",
    "max-len": "warn",
    "react/no-did-mount-set-state": "warn",
  },
  "env": {
    "browser": true
  }
}
