{
  parser: "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/require-extension": "off",
    "linebreak-style": "off",
    "no-trailing-spaces": "off",
    "no-unused-vars": "off",
    "no-mixed-operators": "off",
    "no-else-return": "off",
    "max-len": "off",
    "react/no-did-mount-set-state": "off",
    "indent": "off",
    "key-spacing": "off",
    "object-shorthand": "off",
    "no-multi-spaces": "off",
    "space-infix-ops": "off",
    "no-underscore-dangle": "off",
    "arrow-body-style": "off",
    "no-param-reassign": "off",
    "prefer-template": "off",
    "react/jsx-boolean-value": "off",
    "func-names": "off",
    "space-before-function-paren": "off",
    "react/sort-comp": "off",
    "new-cap": "off",
  },
  "env": {
    "browser": true
  }
}
