#statustile { 
    height: 50px; 
    position: fixed; 
    bottom:0%;
    width:100%; 
    background-color: lightgrey; 
    opacity: 1;
    flex-direction: row;
    display: flex;
}

#statustile-title{
    color: steelblue;
    padding-right: 50px;
    line-height: 50%;
    padding-left: 25px;
    flex: 0 0 100px;
}

.statustile-status{
    color: grey;
    text-align: left;
    line-height: 50%;
    flex: 0 0 250px;
}