#statustile { 
    height: auto; 
    position: fixed; 
    bottom:0%;
    width:100%; 
    background-color: lightgrey; 
    opacity: 1;
    flex-direction: row;
    display: flex;
    .status-wrapper {
        margin: 8px;
        margin-left: 16px;
        margin-right: 16px;
        width: 100%;
    }
}
