@import "../../../variables.scss";

.data-list-item {
    border-radius: 0px;
    margin: 0px;
    padding: 10px;
    border: none;
    width: 100%;
    background-color: $valis-theme-lightest;

    .option-title {
        color: $valis-theme-dark-blue;
        font-size: 16px;
        font-weight: bold;
        padding: 2px;
        text-align: center;
    }
    .option-description {
        font-family: $valis-body-font;
        color: $valis-theme-dark-gray;
        font-size: 14px;
        padding: 12px;
        text-align: center;
    }
    border-top: 1px solid $valis-theme-light;
}
.data-list-item:hover {
    background-color: $valis-theme-light;
    cursor: pointer;
}
