@import "../../../variables.scss";

.data-list-item {
    border-radius: 0px;
    margin: 0px;
    padding: 10px;
    border: none;
    width: 100%;
    background-color: $valis-blue-lightest;

    .option-title {
        color: $valis-black;
		font-size: 16px;
        font-weight: bold;
        padding: 2px;
        text-align: center;
    }
    .option-description {
        color: $valis-blue-dark;
        font-size: 14px;
        padding: 2px;
        text-align: center;
    }
    border-top: 1px solid $valis-blue-light;
    border-left: 8px solid lighten($valis-blue-light, 20%);
}
.data-list-item:hover {
    border-left: 8px solid $valis-blue-medium;
    background-color: $valis-blue-lightest;
    cursor: pointer;
}
