@import "../../../../variables.scss";

.token-box {
	display: flex;
	list-style: none;
	.chips {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: scroll;
		flex-direction: row-reverse;
		max-width: calc(100% - 250px);
		.token {
			cursor: pointer;
			margin: 2px 2px 2px 0px;
			padding-top: 8px;
		}
	}
	.textbox {
		min-width: 100px;
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 0px;
		margin-right: 0px;
	}
	.buttons {
		min-width: 150px;
		white-space: nowrap;
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 0px;
		margin-right: 0px;
	}

	& > div > div > div > div {
		color: darken($valis-theme-light, 10%) !important;
	}

	#search-box {
		color: $valis-theme-lightest !important,
	}
}
