@import "../../../../variables.scss";

.token-box {
	display: flex;
	list-style: none;
	max-width: 1000px;
	overflow: scroll;
	.token {
		cursor: pointer;
		margin: 2px 2px 2px 0px;
		padding-top: 8px;
	}

	& > div > div > div > div {
		color: darken($valis-theme-light, 10%) !important;
	}

	#search-box {
		color: $valis-theme-lightest !important,
	}
}
