.tcga-selector {
    .table-view {
        height: calc(100vh - 350px);
        margin-left: 12px;
        margin-right: 12px;
        border: 1px solid lightgray;
    }

    .options {
        padding: 12px;
        .selector {
            margin: 8px;
        }
    }
}
