.snp-details {
  .snp-info-wrapper {
    padding: 8px;
  }
  .snp-type-wrapper {
    font-size: 18px;
    margin-top: 8px;
    .snp-type {
      font-weight: bold;
    }
  }

  .gene-link {
    background-color: darken(#D5D6D9, 15%);
    color: white;
    cursor: pointer;
    padding: 2px 8px 2px 8px;
    border-radius: 8px;
    &:hover {
      background-color: darken(#D5D6D9, 25%);
    }
  }

  .copyable {
    width: 100%;
  }

  .frequency-chart {
    width: 100%;
    .label {
      width: 32px;
      color: darkgray;
      font-weight: 100;
    }

    .base-pair-label {
      width: 18px;
      font-weight: bold;
    }

    .bar {
      width: calc(100% - 64px);
    }

    .bar-elem {
      height: 8px;
      border-radius: 8px;
    }
  }

  .base-pair {
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    display: inline-block;
  }

  .A {
    background-color: #4394F7;
  }

  
  .T {
    background-color: #F2CC1F;
  }

  
  .C {
    background-color: #E54546;
  }

  .G {
    background-color: #5FB732;
  }

}