@import "../../../variables.scss";

.signal-track-editor {
    padding-top: 15px;
    
    .item-header{
        font-size: 18px;
    }
    .target-selections{
        margin: 10px;
        font-size: 16px;
    }
    .table-view {
        height: calc(100vh - 250px);
        border-top: 1px solid $valis-grey-light;
    }
}