
// Track headers
$track-header-width: 200px;
$axis-width: 30px;
$margin-width: 8px;
$header-content-width: calc(100% - #{$axis-width} - #{$margin-width});
$white-color: #e8e8e8;
$dark-color: darken(#242321, 5%);


// Browser
$padding-right: 16px;
$browser-width: calc(100% - #{$track-header-width} - #{$padding-right});
$browser-height: 100%;
$axis-height: 32px;
$bg-color: #fff;
$link-color: $dark-color;
