.annotation {
    background-color: red;
    width: 100px;
    height:20px;
    position: absolute;
    opacity: 0.5;
    text-overflow: ellipsis;
	overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}