.annotation-wrapper {
	position: relative;
}
.annotation {
    background-color: red;
    position: absolute;
    opacity: 0.5;
    text-overflow: ellipsis;
	overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}