@import "../../helpers/variables.scss";

.track-header {
	position: absolute;
	width: 100%;
	cursor: grab; cursor:-webkit-grab; cursor:-moz-grab;

	.track-header-contents {
		float: left;
		width: $header-content-width;
		margin-left: $margin-width;
		border-radius: 8px 0px 0px 8px;
		height: 100%;
		background-color: $dark-color;
		color: $white-color;
		font-size: 10px;
		&:hover {
			background: linear-gradient(to right, darken($dark-color, 25%), $dark-color);
			color: $white-color;
		}
		.inner {
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}

		.bp-offset {
			color: lighten($dark-color, 25%);
		}
	}
	.track-header-axis {
		float: right;
		width: $axis-width;
		height: 100%;
		.y-axis-container {
			width: 100%;
			background-color: $dark-color;
            text {
                fill: #fbf8f5;
            }
            line {
                stroke: #fbf8f5;
            }
			.yAxis {
				transform : translate($axis-width, 0px);
				g:nth-child(2) {
					display: none;
				}
				g:last-child {
					display: none;
				}
			}
		}
	}

	.empty-track-header-axis {
		float: right;
		width: $axis-width;
		height: 100%;
		background-color: $dark-color;
	}

	.clearfix {
		clear: both;
	}

	// disable select:
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
