@import "../../helpers/variables.scss";

.search-results-view {
	height:calc(100% - #{2*$sidebar-header-height});
	user-select: none;
	.search-results-list {
		margin-top: $sidebar-header-height;
		border-top: 1px solid red;
		user-select: none;
		outline-style:none;
	}
}