@import "../../../variables.scss";

.header {
	position: relative;
	display: flex;
	background-color: $valis-theme-darker-gray;

	box-shadow: 0 2px 20px #0000004f;
	z-index: 4;

	.header-item {
		align-self: center;
	}

	.header-search-box {
		padding-left: 0px;
		padding-top: 12px;
		flex-grow: 1;
		margin-top: -16;
		margin-bottom: 16px;
		margin-left: 16px;
		align-self: center;
		position: relative;
		max-width: calc(100% - 400px);
	}

	.header-right {
		float: right;
	}

	.user-button {
		background-color: transparent;
		padding: 0px;
		color: transparent;
		&:hover {
			cursor: null;
			background-color: transparent;
		}
	}

	.header-spacer {
		flex-grow: 1;
	}

	.header-button {
		align-self: center;
		margin-top: 3px;
	}

	.header-button > button > div {
		margin-top: -3px;
	}
}
