@import "../../../../variables.scss";

.search-filter {
    .filter-menu {
        border-top: 1px solid $valis-grey-dark;
        height: 175px;
        box-shadow: $valis-scroll-shadow; 
        background-color: lighten($valis-blue-dark, 25%);
        padding: 8px;
        overflow: scroll;
        .filter-type-chooser {
            background-color: transparent;
            padding: 8px;
            border-radius: 8px;
            color: $valis-white;
            font-size: 12px;
            margin-bottom: 8px;
            cursor: pointer;
            &:hover {
                background-color: $valis-grey-dark;
            }
        }
    }
}