.content {
    background-color: #222;
    flex: 1 0 auto;
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    #webgl-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    #webgl-canvas {
        position: absolute;
        width: 100%;
        height: 100%;

        // disable select:
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    }
    .drag-active {
        cursor: -webkit-grabbing; cursor:-moz-grabbing;
    }

    .zoom-active {
        cursor: zoom-in;
    }

    .select-active {
        cursor: crosshair;
    }

    .loading-active {
        cursor: crosshair;
    }
}
