@import "../../helpers/variables.scss";

.content {
    background-color: $bg-color;
    flex: 1 0 auto;
    color: $bg-color;
    position: relative;
    overflow: hidden;
    cursor: crosshair;

    #webgl-overlay {
        overflow: hidden;
        position: absolute;
        left: $track-header-width;
        width: $browser-width;
        height: $browser-height;
        pointer-events: none;
    }

    #webgl-canvas {
        position: absolute;
        left: $track-header-width;
        width: $browser-width;
        height: $browser-height;

        &:focus {
            outline: none;
        }
        // disable select:
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    }

    .track-header-axis {
        height: $axis-height;
        z-index: 999;
        background: linear-gradient(darken($bg-color, 25%), $bg-color);
    }
    #track-headers {
        position: absolute;
        overflow: hidden;
        width: $track-header-width;
        height: $browser-height;
        left: 0px;
        margin-top: $axis-height;
    }
    #track-backgrounds {
        position: absolute;
        overflow: hidden;
        background-color: transparent;
        width: calc(100% - #{$track-header-width});
        height: $browser-height;
        left: $track-header-width;
        margin-top: $axis-height;
    }
    .drag-active {
        cursor: -webkit-grabbing; cursor:-moz-grabbing;
    }

    .zoom-active {
        cursor: zoom-in;
    }

    .select-active {
        cursor: crosshair;
    }

    .loading-active {
        cursor: crosshair;
    }

    .hover-active {
        cursor: pointer;
    }
}
