.content {
    background-color: #222;
    flex: 1 0 auto;
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    #webgl-canvas {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .drag-active {
        cursor: -webkit-grabbing; cursor:-moz-grabbing;
    }

    .zoom-active {
        cursor: zoom-in;
    }
}
