@import "../../../../variables.scss";

.table-view {
	.table-item {
		color: $valis-theme-dark-gray;
		font-weight: bold;
		.table-row {
			padding: 32px;
			height: auto;
			&:hover {
				background-color: $valis-theme-light;
				cursor: pointer;
			}
			
		}

		&:nth-child(even) {
			background-color: lighten(lightgray, 14%);
		}

		&:nth-child(odd) {
			background-color: lighten(lightgray, 17%);
		}

		.table-row-description {
			font-size: 14px;
			font-weight: 100;
			color: lighten($valis-theme-dark-gray, 10%);
		}
	}

	.table-view-empty {
		padding: 32px;
	}
}
