@import "./variables.scss";

.navigation-controller-loading {
    margin-top: 50%;
    margin-left: calc(50% - 40px);
}

.page-buttons {
    position: absolute;
    bottom: 0px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    overflow: auto;
}

button {
    &:focus {
        outline:0;
    }
    font-family : inherit;
    border:none;
    border-radius: 8px;
    background-color: $valis-blue-light;
    padding: 2px 16px 2px 16px;
    margin: 14px 8px 8px 8px;
    color: white;
    font-size: 14px;
    &:hover {
        cursor: pointer;
        background-color: darken($valis-blue-light, 15%);
    }
}

.sidebar-header {
    .sidebar-name {
      display: inline-block;
      text-overflow:ellipsis;
      color: $valis-black;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    }
    .sidebar-description {
        font-size: $valis-font-size-small-description;
    }
    padding: 32px;
    font-size: $valis-font-size-small-info-header;
    background-color: $valis-grey-light;
    border-bottom: 1px solid lighten($valis-blue-dark, 25%);
  }

  h1 {
      font-size: 18px !important;
  }

.centered {
    position: absolute;
    top: 40%;
    left: 45%;
}