@import "./variables.scss";

.navigation-controller-loading {
    margin-top: 50%;
    margin-left: calc(50% - 40px);
}

.page-buttons {
    position: absolute;
    bottom: 0px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    overflow: auto;
}
.track-header {
    position: relative;
    width: 100%;
    height: 100%;
    color: #171615;
    background: linear-gradient($valis-theme-lightest, $valis-theme-light);
    border-radius: 8px 0px 0px 8px;
    font-size: 14px;
    overflow: hidden;
    user-select: none;
    .track-title {
        margin-left: 10px;
        text-align: left;
    }
}

.track-header-clickable {
    .track-title {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
        &:before {
            content: '▶';
            display: inline-block;
            transform: scale(0.4, 0.7);
        }
    }
}

button {
    &:focus {
        outline:0;
    }
    font-family : inherit;
    border:none;
    border-radius: 8px;
    background-color: $valis-blue-light;
    padding: 2px 16px 2px 16px;
    margin: 14px 8px 8px 8px;
    color: white;
    font-size: 14px;
    &:hover {
        cursor: pointer;
        background-color: darken($valis-blue-light, 15%);
    }
}

.sidebar-header {
    .sidebar-name {
      display: inline-block;
      text-overflow:ellipsis;
      color: $valis-theme-lightest;
    }
    .sidebar-description {
        font-family: $valis-body-font;
        font-size: $valis-font-size-small-description;
        color: $valis-theme-lightest;
    }
    padding: 32px;
    font-size: $valis-font-size-small-info-header;
    background-color: $valis-theme-darker-gray;
  }

  h1 {
      font-size: 18px !important;
  }

.centered {
    position: absolute;
    top: 40%;
    left: 45%;
}