<<<<<<< HEAD
@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import "./variables.scss";
=======
@import "helpers/variables.scss";
>>>>>>> upstream/master

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: $font-stack;
	overflow: hidden;
}