// Track headers
$track-header-width: 200px;
$axis-width: 30px;
$margin-width: 8px;
$header-content-width: calc(100% - #{$axis-width} - #{$margin-width});
$white-color: #e8e8e8;
$dark-color: darken(#242321, 5%);

$sidebar-header-height: 64px;

// Colors
$valis-blue-light: #6BBBE6;
$valis-blue-medium: #55ACDB;
$valis-blue-dark: #446577;
$valis-grey-light: #EEF3F5;
$valis-grey-dark: darken($valis-grey-light, 20%);
$valis-white: #ffffff;

$link-color: $dark-color;

// Fonts
$font-stack: 'Open Sans', 'helvetica', sans-serif;