@import "../../../variables.scss";
$filter-header-height: 48px;

.search-results-view {
	font-family: $font-stack;
	.search-filters {
		min-height: $filter-header-height;
		background-color: lighten($valis-blue-light, 15%);
		border-bottom: 1px solid $valis-grey-dark;
	}

	.search-results-empty {
		padding: 16px;
	}

	height:calc(100% - #{$sidebar-header-height});
	user-select: none;
	.search-results-list {
		background-color: $valis-theme-lightest;
		user-select: none;
		outline-style:none;
		.search-result-inner {
			&:hover {
				border: 1px solid lighten($valis-blue-light, 20%);
			}
			.search-title {
				max-width: 90%;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				display: inline-block;
			}
			cursor: pointer;
			background-color: $valis-white;
			border: 1px solid $valis-grey-light;
			border-radius: 6px;
			height: calc(100% - 18px);
			padding: 6px;
			margin: 6px;
			.right-info { 
				float: right;
				margin-right: 4px;
				min-width: 100px;
				.right-row{
					font-size: 13px;
					padding: 1px;
					margin: 1px;
					.small {
						font-size: 10px;
					}
				}
				.allele-arrow {
					color: $valis-grey-dark;
					font-weight: bold;
				}
			}
			.result-info {
				font-size: 10px;
				font-weight: bold;
				color: $valis-grey-dark;
				td {
					vertical-align: top;
					padding: 2px;
				}
			}
		}
	}
}